<div class="container-testy pt-2">
  <div class="container">
  <app-section-heading headingText="testymonials" color="#fff"></app-section-heading>
  <div class="row">
    <div class="offset-md-1 col-md-5">
      <div class="box" data-aos="fade-right">
        <h3 class="box-title">Kathryn Murphy</h3>
        <p class="box-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi magni nihil qui repellat officiis optio aspernatur, non laudantium adipisci ut libero porro dignissimos laboriosam dolore impedit eos praesentium quaerat. Quam!</p>
        <span class="star">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
      </div>
    </div>
    <div class="col-md-5">
      <div class="box" data-aos="fade-left">
        <h3 class="box-title">Kathryn Murphy</h3>
        <p class="box-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi magni nihil qui repellat officiis optio aspernatur, non laudantium adipisci ut libero porro dignissimos laboriosam dolore impedit eos praesentium quaerat. Quam!</p>
        <span class="star">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
      </div>
    </div>
    <div class="offset-md-1 col-md-5">
      <div class="box" data-aos="fade-right">
        <h3 class="box-title">Kathryn Murphy</h3>
        <p class="box-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi magni nihil qui repellat officiis optio aspernatur, non laudantium adipisci ut libero porro dignissimos laboriosam dolore impedit eos praesentium quaerat. Quam!</p>
        <span class="star">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
      </div>
    </div>
    <div class="col-md-5">
      <div class="box" data-aos="fade-left">
        <h3 class="box-title">Kathryn Murphy</h3>
        <p class="box-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi magni nihil qui repellat officiis optio aspernatur, non laudantium adipisci ut libero porro dignissimos laboriosam dolore impedit eos praesentium quaerat. Quam!</p>
        <span class="star">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
      </div>
    </div>
  </div>
  </div>
</div>
