<div class="container-home">
  <div class="home">
    <p class="desc-up text-uppercase pt-3">Peachy Pup <br> Bakery</p>

    <div class="body position-relative">
      <img src="assets/home.png" alt="" data-aos="zoom-in">
      <h1 class="head text-uppercase">Tasty pastries</h1>
      <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem esse nulla officia ullam, labore praesentium iure mollitia error aspernatur neque itaque atque ipsa porro enim? Consequuntur perferendis perspiciatis facilis aperiam?</p>
      <app-button btnText="see more" goTo="#howWe"></app-button>
    </div>
  </div>
  <div class="phone d-flex">
    <div class="links">
      <ul class="list-unstyled">
        <li>
          <a href="https://vk.com/" class="text-decoration-none" target="_blank"><i class="fa fa-vk"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/" class="text-decoration-none" target="_blank"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/" class="text-decoration-none" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://x.com/home" class="text-decoration-none" target="_blank"><i class="fa fa-twitter" ></i></a>
        </li>
      </ul>
    </div>
    <p class="tel">Telephone: &nbsp;&nbsp;<span>+7 700 000 00 00</span></p>
  </div>
</div>



