.container-recipes {
  overflow: hidden;
  .recipes-head {
    font-size: 144px;
    font-weight: 800;
    color: #C98A40;
    margin: 35px 0;
  }

  .card {
    border: 1px solid #FFD8AB;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    img
    {
      margin-top: -2px;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
    }
    .card-body {
      text-align: left;
      padding-left: 35px;
      .card-title {
        color: #C98A40;
        font-weight: 900;
      }
    }
  }
}
