<div class="container-recipes text-center">
  <div class="container">
    <app-section-heading headingText="recipes"></app-section-heading>
    <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let meal of meals">
      <div class="card" data-aos="zoom-in">
        <img [src]="meal.strMealThumb" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{meal.strMeal}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <app-button marginVal="55px 0"></app-button>
</div>
</div>
