<div class="container-about d-flex">
  <div class="about-body">
  <div class="container">

      <h2 class="head">About <br> us</h2>
      <img src="assets/about.jpg" alt="" data-aos="zoom-in"zoom-in>
      <p class="about-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nostrum dolore error sunt voluptas consequuntur earum mollitia optio natus nesciunt ad nam, amet incidunt recusandae nemo ratione laborum quae eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eos sapiente, debitis aliquam iure minus commodi possimus eveniet quibusdam distinctio aliquid vel, cumque iste velit facere doloremque id a exercitationem!
      </p>
      <app-button></app-button>
    </div>
  </div>
</div>
