<div class="how-container" id="howWe">
  <div class="how-desc">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque inventore non vitae alias amet exercitationem reiciendis impedit, facilis minima ipsum sit veniam?</p>
  </div>
  <div class="how-body">
    <h2 class="how-head text-uppercase">How we <br> work</h2>
    <div class="images">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <img src="assets/how_01.jpg" alt=""  data-aos="fade-right">
        </div>
        <div class="col-md-3 col-sm-12">
          <img src="assets/how_02.jpg" alt=""  data-aos="fade-down">
        </div>
        <div class="col-md-3 col-sm-12">
          <img src="assets/how_03.jpg" alt=""  data-aos="fade-up">
        </div>
        <div class="col-md-3 col-sm-12">
          <img src="assets/how_04.jpg" alt=""  data-aos="fade-left">
        </div>
      </div>
    </div>
    <app-button marginVal="0 0 50px 200px"></app-button>
  </div>
</div>
